/******** HEADER MOBILE **********/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  .logo {
    margin-left: 16px;
  }

  nav {
    /******** BURGER MENU *********/
    margin-right: 19px;
    .burger__label {
      cursor: pointer;

      span {
        transition: 0.6s;
        display: block;
        width: 18px;
        height: 2px;
        background-color: #000;
        &:nth-child(2) {
          margin: 3px 0;
        }
      }
    }
    .burger__checkbox {
      display: none;

      &:checked ~ .menu {
        top: 44px;
      }
      &:checked ~ .burger__label span:first-child {
        position: relative;
        top: 0;
        transform: rotate(45deg);
      }
      &:checked ~ .burger__label span:nth-child(2) {
        display: none;
      }
      &:checked ~ .burger__label span:last-child {
        position: relative;
        top: 0;
        transform: rotate(-45deg);
      }
    }

    /*********** UL MENU **********/
    .menu {
      position: absolute;
      top: -10000px;
      left: 0;
      list-style: none;
      // width: calc(100vw - 20px);
      width: 100%;
      padding: 16px 0 0 16px;
      background-color: $blue-menu;

      li {
        margin-bottom: 24px;

        a {
          color: $white;
          font-family: $ibm-mono;
          font-size: 16px;
        }
      }
    }
  }
}

/************ MEDIA QUERY DESKTOP *********/
@media (min-width: 780px) {
  header {
    height: 80px;
    .logo {
      width: 36px;
      height: 36px;
    }
    nav {
      margin: 0;
      .burger__label {
        display: none;
      }

      .menu {
        position: static;
        width: 500px;
        padding: 0;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 100px;
        li {
          margin: 0;
          a {
            color: $black;

            &:hover {
              color: $aqua;
              font-weight: $mono-bold;
              text-decoration: line-through;
            }

            &:active {
              color: transparentize($black, 0.52);
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}
