#hero {
  padding: 29px 16px 24px;
  .hero__title {
    @extend %title;

    .hello {
      display: block;
      .world {
        text-decoration: line-through;
      }
    }
    .dot {
      color: $blue-menu;
    }
  }
  .hero__text {
    @extend %p;

    margin: 16px 0 36px;
  }
  .hero__btn {
    @extend %btn;
  }
}

/******** MEDIA QUERY DESKTOP**********/

@media (min-width: 700px) {
  #hero {
    padding: 120px 0px 5px 13.8%;
    .hero__title {
      font-size: 64px;
      .hello {
        display: inline;
      }
    }
    .hero__text {
      max-width: 628px;
    }
    .hero__btn {
      width: 226px;
    }
  }
}
