#entrevistas {
  h2 {
    @extend %title;
    margin: 0 16px 14px;
  }
  .entrevistas__fotos {
    width: 100%;
    display: grid;
    grid-template: repeat(1fr, 6) / 1fr;
    img {
      width: 100%;
    }
  }
}
/**** MEDIA QUERY DESKTOP *****/
@media (min-width: 780px) {
  #entrevistas {
    h2 {
      font-size: 48px;
      margin-left: 200px;
      margin-bottom: 36px;
    }

    .entrevistas__fotos {
      display: grid;
      grid-template: 1fr 1fr /1fr 1fr 1fr;
      img {
        min-width: 0;
      }
    }
  }
}
