// ***** COLORES ******//

$black: #ff060a24;
$white: #ffffffff;
$blue-dark: #0000a3;
$blue-light: #0000ff;
$aqua: #00f3bb;

//********* FUENTES ********//

$ibm-mono: "IBM Plex Mono", monospace;
$ibm-sans: "IBM Plex Sans", sans-serif;
