// ***** COLORES ******//

$black: #060a24;
$white: #ffffffff;
$blue-dark: #0000a3;
$blue-light: #0000ff;
$blue-menu: #0000ec;
$aqua: #00f3bb;

//********* FUENTES ********//

$ibm-mono: "IBM Plex Mono", monospace;
$ibm-sans: "IBM Plex Sans", sans-serif;

$normal: 400;
$mono-bold: 500;
$sans-bold: 600;

//********** PLACEHOLDERS *********//

%btn {
  display: block;
  width: 100%;
  padding: 13px 0px;
  text-align: center;
  font-family: $ibm-mono;
  font-weight: $mono-bold;
  background-color: $aqua;
  color: $black;
  transition: 0.5s ease-out;
  &:hover {
    background: linear-gradient(225deg, $blue-light 0%, $aqua 100%);
    color: $white;
  }
}

%title {
  font-size: 36px;
  font-family: $ibm-sans;
  font-weight: $normal;
}

%p {
  font-family: $ibm-mono;
  font-size: 14px;
  line-height: 24px;
}
