#novedades a, #hero .hero__btn {
  display: block;
  width: 100%;
  padding: 13px 0px;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  background-color: #00f3bb;
  color: #060a24;
}

#novedades a:hover, #hero .hero__btn:hover {
  background: linear-gradient(225deg, #0000ff 0%, #00f3bb 100%);
  color: #ffffffff;
}

#novedades h2, #hero .hero__title, #episodios .episodios__title, #nosotros .nosotros__text h2, #entrevistas h2, #topicos h2 {
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

footer p, #hero .hero__text, #nosotros .nosotros__text p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
}

/******** HEADER MOBILE **********/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
}

header .logo {
  margin-left: 16px;
}

header nav {
  /******** BURGER MENU *********/
  margin-right: 19px;
  /*********** UL MENU **********/
}

header nav .burger__label {
  cursor: pointer;
}

header nav .burger__label span {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: block;
  width: 18px;
  height: 2px;
  background-color: #000;
}

header nav .burger__label span:nth-child(2) {
  margin: 3px 0;
}

header nav .burger__checkbox {
  display: none;
}

header nav .burger__checkbox:checked ~ .menu {
  top: 44px;
}

header nav .burger__checkbox:checked ~ .burger__label span:first-child {
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

header nav .burger__checkbox:checked ~ .burger__label span:nth-child(2) {
  display: none;
}

header nav .burger__checkbox:checked ~ .burger__label span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header nav .menu {
  position: absolute;
  top: -10000px;
  left: 0;
  list-style: none;
  width: 100%;
  padding: 16px 0 0 16px;
  background-color: #0000ec;
}

header nav .menu li {
  margin-bottom: 24px;
}

header nav .menu li a {
  color: #ffffffff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
}

/************ MEDIA QUERY DESKTOP *********/
@media (min-width: 780px) {
  header {
    height: 80px;
  }
  header .logo {
    width: 36px;
    height: 36px;
  }
  header nav {
    margin: 0;
  }
  header nav .burger__label {
    display: none;
  }
  header nav .menu {
    position: static;
    width: 500px;
    padding: 0;
    background-color: #ffffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 100px;
  }
  header nav .menu li {
    margin: 0;
  }
  header nav .menu li a {
    color: #060a24;
  }
  header nav .menu li a:hover {
    color: #00f3bb;
    font-weight: 500;
    text-decoration: line-through;
  }
  header nav .menu li a:active {
    color: rgba(6, 10, 36, 0.48);
    text-decoration: line-through;
  }
}

#novedades {
  padding: 64px 16px;
  text-align: center;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
}

#novedades h2 {
  color: #ffffffff;
  margin-bottom: 36px;
  font-size: 48px;
}

footer {
  padding: 24px 45px 31px;
  text-align: center;
}

footer p {
  padding-bottom: 16px;
}

footer .social {
  margin: 0 auto;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .social a {
  color: #060a24;
}

/****** MEDIA QUERY DESKTOP *******/
@media (min-width: 780px) {
  #novedades {
    padding-top: 213px;
    -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
  }
  #novedades a {
    width: 345px;
    margin: 0 auto;
  }
  footer {
    padding: 35px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    padding: 0;
  }
  footer .social {
    margin: 0;
  }
}

#hero {
  padding: 29px 16px 24px;
}

#hero .hero__title .hello {
  display: block;
}

#hero .hero__title .hello .world {
  text-decoration: line-through;
}

#hero .hero__title .dot {
  color: #0000ec;
}

#hero .hero__text {
  margin: 16px 0 36px;
}

/******** MEDIA QUERY DESKTOP**********/
@media (min-width: 780px) {
  #hero {
    padding: 120px 0px 5px 13.8%;
  }
  #hero .hero__title {
    font-size: 64px;
  }
  #hero .hero__title .hello {
    display: inline;
  }
  #hero .hero__text {
    max-width: 628px;
  }
  #hero .hero__btn {
    width: 226px;
  }
}

#episodios {
  padding: 64px 16px 143px;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
}

#episodios .episodios__title {
  color: #ffffffff;
  margin-bottom: 21px;
}

#episodios .episodios__spotify iframe {
  margin-bottom: 11px;
}

/********** MEDIA QUERY DESKTOP *********/
@media (min-width: 780px) {
  #episodios {
    padding: 186px 100px 232px;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  }
  #episodios .episodios__title {
    margin-left: 100px;
    font-size: 48px;
  }
  #episodios .episodios__spotify {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr /1fr 1fr;
    gap: 72px;
  }
}

#nosotros {
  padding: 0 16px;
}

#nosotros .phone {
  display: block;
  max-width: 340px;
  height: 519px;
  margin: 0 auto;
  position: relative;
  top: -96px;
}

#nosotros .nosotros__text {
  margin-top: -96px;
}

#nosotros .nosotros__text h2 {
  margin-top: 27px;
  margin-bottom: 8px;
}

/****** MEDIA QUERY DESKTOP *********/
@media (min-width: 780px) {
  #nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 500px;
  }
  #nosotros .phone {
    width: 456px;
    height: 660px;
    margin: 0;
    top: -196px;
  }
  #nosotros .nosotros__text {
    margin: 0;
    padding-left: 60px;
    max-width: 464px;
  }
  #nosotros .nosotros__text h2 {
    font-size: 48px;
  }
}

#entrevistas {
  margin-top: 54px;
}

#entrevistas h2 {
  margin-left: 16px;
  margin-bottom: 14px;
}

#entrevistas .entrevistas__fotos {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (6)[1fr];
  -ms-grid-columns: 1fr;
      grid-template: repeat(1fr, 6)/1fr;
}

#entrevistas .entrevistas__fotos img {
  width: 100%;
}

@media (min-width: 780px) {
  #entrevistas h2 {
    font-size: 48px;
    margin-left: 200px;
    margin-bottom: 36px;
  }
  #entrevistas .entrevistas__fotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 1fr 1fr /1fr 1fr 1fr;
  }
  #entrevistas .entrevistas__fotos img {
    min-width: 0;
  }
}

#topicos h2 {
  margin: 48px 0 37px 16px;
}

#topicos .topicos__icons {
  text-align: center;
}

#topicos .topicos__icons .icon {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 49px;
}

#topicos .topicos__icons .icon h3 {
  margin-top: 13px;
}

/********* MEDIA QUERY DESKTOP **********/
@media (min-width: 780px) {
  #topicos h2 {
    font-size: 48px;
    margin-left: 200px;
  }
  #topicos .topicos__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 69px;
  }
  #topicos .topicos__icons .icon {
    width: 260px;
  }
  #topicos .topicos__icons .icon img {
    padding: 0 78px;
  }
  #topicos .topicos__icons .icon h3 {
    font-size: 24px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */