@import "partials/variables";
@import "partials/header";
@import "partials/footer";
@import "partials/hero";
@import "partials/episodios";
@import "partials/nosotros";
@import "partials/invitados";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
